body {
    font-size: 16px;
    color: $default-font-color;
    h1, h2 {
        font-family: $font-sans;
        font-weight: $font-weight-light;
        text-rendering: optimizeLegibility;
    }
    a, a:focus, a:hover {
        color: $color-green-light;
    }
    padding-right: 0px !important; // fixes modal spacing bug
    .btn.btn-raised.btn-primary {
        background-color: $color-green-light;
    }
    .btn.btn-raised:not(.btn-link):hover.btn-primary {
        background-color: lighten($color-green-light, 10%);
    }
    .btn.btn-raised:not(.btn-link):focus.btn-primary {
        background-color: $color-green-light;
    }
}
