.page-home {
    .page-section-header {
        min-height: 600px;
        position: relative;
        background-color: $color-space;
        background-repeat: no-repeat;
        background-position: center bottom;
        color: white;
        overflow: hidden;
        h1, h2 {
            font-weight: $font-weight-light;
            text-align: center;
            text-rendering: optimizeLegibility;
        }
        h1 {
            font-size: 28px;
            margin-bottom: 0px;
            margin-top: 100px;
        }
        h2 {
            font-size: 36px;
            margin-top: 0px;
        }
        hr {
            max-width: 520px;
            border-color: $color-planet;
            @media (max-width: 640px) {
                max-width: 315px;
            }
        }
        .mars {
            position: absolute;
            bottom: 0px;
            height: 230px;
            width: 1500px;
            left: 50%;
            margin-left: -750px;
            @include retina-image("../img/mars", "1500px 600px", "png");
            background-position: bottom;
        }
        .ship {
            width: 123px;
            height: 101px;
            position: absolute;
            bottom: 50px;
            left: 50%;
            margin-left: -61px;
            @include retina-image("../img/ship", "cover", "png");
            background-size: 123px 101px;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
}
