$color-blue:                #0762D1;
$color-space:               #3E3A34;
$color-planet:              #C58E3D;

$font-sans:                 'Lato';
$font-weight-light:         300;
$font-weight-normal:        400;
$default-font-size:         16px;
