

$color-blue:                #0762D1;
$color-blue-grey-medium:    #D0D9E2;
$color-blue-grey-dark:      #BDC8D3;
$color-green-light:         #33AB73;
$color-green-dark:          #2B956A;
$color-black:               #202836;
$color-blue-grey:           #CDD8E4;

$color-space:               #19497D;
$color-planet:              #3F84C7;
$color-side-menu-active:    lighten($color-black, 5%);
$color-side-menu:           $color-black;
$color-side-menu-text:      #ABC4DE;
$color-blue-grey-light:     #EFF2F5;
$default-font-color:        #555;

$font-sans:                 'Lato';
$font-weight-light:         300;
$font-weight-normal:        400;
$default-font-size:         16px;
